@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
    
    height: 100vh;
    margin: 0 0 0 0;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    align-items: center;
}

main > header {
    max-width: 60rem;
    width: 90vw;
    min-height: 6rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

main > header > h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
    
}

main > header > button {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    height: 4rem;
    border-radius: 0.25rem;
    width: 4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s all;
}

main > form#newTask {
    max-width: 60rem;
    width: 90vw;
    height: 4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-bottom: 1rem;
}

main > form#newTask > input{
    box-sizing: border-box;
    padding: 0 1rem;
    font-size: 1rem;
    height: 4rem;
    border-radius: 0.25rem;
    width: 100%;
    transition: 0.3s all;
}

main > form#newTask > button {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    height: 4rem;
    border-radius: 0.25rem;
    width: 4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s all;
}

main > #tasksList {
    max-width: 60rem;
    width: 90vw;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

main > #tasksList > li {
    border: 2px solid #000;
    padding: 0.5rem;
    display: flex;
    min-height: 4rem;
    box-sizing: border-box;
    flex-direction: row;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.25rem;
    transition: 0.3s all;
}

main > #tasksList > li > div {
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

main > #tasksList > li > div > input {
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

main > #tasksList > li > div > input:checked + p{
    text-decoration: line-through;
}

main > #tasksList > li > .buttons > button.action-btn {
 
    box-sizing: border-box;
    outline: none;
    padding: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s all;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

main > #tasksList > li > .buttons > button.action-btn:last-child {
    margin-right: 0;
}

main > #tasksList > li > .buttons > button.action-btn > i {
    font-size: 1.25rem;
}


main > #emptyListPlaceholder {
    display: flex;
    max-width: 60rem;
    width: 90vw;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s all;
    font-size: 3rem;
}